name: CI Dockerfile
on:
  pull_request:
    paths:
      - Dockerfile
run-name: CI Dockerfile ${{ github.sha }} by @${{ github.actor }}
jobs:
  lint:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v6
      - name: hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          failure-threshold: style
