name: CI Go
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/go.yml
      - '**.go'
      - go.*
      - Makefile
run-name: CI Go ${{ github.sha }} by @${{ github.actor }}
jobs:
  build:
    runs-on: ubuntu-latest
    container: golang:1.20.5
    steps:
      - name: setup
        run: |
          git config --global --add safe.directory $(pwd)
      - uses: actions/checkout@v3
      - name: build
        run: make build
      - name: tidy
        run: |
          go mod tidy
          git diff --exit-code
  lint:
    runs-on: ubuntu-latest
    container: golangci/golangci-lint:v1.53.3
    steps:
      - uses: actions/checkout@v3
      - name: Lint
        run: golangci-lint run ./...
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Unit Tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          go install github.com/boumenot/gocover-cobertura@v1.2.0
          make cov
          curl -Os https://uploader.codecov.io/v0.3.5/linux/codecov
          if sha256sum codecov | grep -q "080b43eaec3434326bb0f61653a82d27aba15c311ddde9d3f68cb364314f7aae"; then
            chmod +x codecov
            ./codecov -t ${CODECOV_TOKEN} 
          else
            echo "sha256 of codecov changed"
          fi
