name: CI Go
on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - '**.go'
      - go.*
      - Makefile
run-name: CI Go by @${{ github.actor }} ${{ github.sha }}
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: build
        run: make build
      - name: tidy
        run: |
          go mod tidy
          git diff --exit-code
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
          args: ./cmd/... ./pkg/... ./tests/...
      - name: test
        run: make unit
